body {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a,
button,
select {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

input,
label,
select,
fieldset,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
  display: inline-block;
  border-radius: 0;
}
